/* About Section */
.about__container {
    margin-top: 120px;
    margin-bottom: 180px;
}

.about__data {
    margin-bottom: 180px;
}

.about__logo {
    column-gap: 25px;
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 62px;
    line-height: 93px;
    color: var(--title-color);
}

.about__link {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: var(--first-color);
}

.about__link:hover {
    color: var(--first-color);
}

.about__subtitle {
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
    color: var(--title-color);
    max-width: 938px;
}

.about__description {
    font-size: 30px;
    line-height: 45px;
    color: var(--title-color);
    max-width: 994px;
}

.about__wrap {
    padding: 0 52px;
    padding-bottom: 56px;
    row-gap: 42px;
}

.about__wrap-description {
    width: 100%;
    font-size: 28px;
    line-height: 42px;
    color: var(--title-color);
}

.about__wrap-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: var(--title-color);
}


@media (max-width: 991px) {
    .about__subtitle,
    .about__logo {
        font-size: 55px;
        line-height: 75px;
    }

    .about__logo img {
        width: 64px;
        height: 60px;
    }

    .about__wrap-description {
        font-size: 25px;
        line-height: 37px;
    }

    .about__wrap-title {
        font-size: 25px;
        line-height: 37px;
    }
}

@media (max-width: 767px) {
    .about__subtitle,
    .about__logo {
        font-size: 30px;
        line-height: 40px;
    }

    .about__description {
        font-size: 25px;
        line-height: 35px;
    }

    .about__wrap {
        padding: 0;
    }

    .about__subtitle{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about__logo img {
        width: 55px;
        height: 51px;
    }

    .about__wrap-description {
        font-size: 20px;
        line-height: 30px;
    }

    .about__wrap-title {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 575px) {
    .about__subtitle,
    .about__logo {
        font-size: 25px;
        line-height: 35px;
    }

    .about__description {
        font-size: 22px;
        line-height: 32px;
    }

    .about__subtitle{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .about__logo img {
        width: 40px;
        height: 36px;
    }

    .about__wrap-description {
        font-size: 18px;
        line-height: 25px;
    }

    .about__wrap-title {
        font-size: 17px;
        line-height: 30px;
    }
}