/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #326CF9;
  --title-color: #FFFFFF;
  --text-color: #707070;
  --body-color: #000000;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;

  /*========== Font weight ==========*/
  --font--regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

input {
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-weight: var(--font--regular);
}

body {
  background: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .4s;
}

ul {
  margin-bottom: 0;
}

.container {
  --bs-gutter-x: 0;
}


img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: var(--first-color);
  color: var(--title-color);
  border-radius: 7px;
  transition: background .4s;
  margin-left: 2px;
}

.button:hover {
  background-color: transparent;
  box-shadow: var(--first-color) 0px 1px 4px, var(--first-color) 0px 0px 0px 3px;
}

.demo__btn {
  color: var(--text-color);
  background-color: transparent;
  box-shadow: var(--text-color) 0px 1px 4px, var(--text-color) 0px 0px 0px 3px;
}

.demo__btn:hover {
  color: var(--title-color);
  background-color: var(--first-color);
  box-shadow: none;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 800;
  color: var(--title-color);
  font-size: 37px;
  line-height: 56px;
}

.nav__logo-img {
  width: 45px;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: .4s;
  }
}


.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
  padding-top: 9rem;
  align-items: center;
  padding-left: 0;
}

.nav__link {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 16px;
  transition: .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.sign_login {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-left: 200px;
}

.sign_login .nav__link:nth-last-child(1) {
  padding: 12px 20px;
  color: var(--title-color);
}

.drop__span {
  color: var(--text-color);
  font-size: 16px;
  transition: .4s;
}

.drop__span:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

.scroll-header .nav__logo-img {
  mix-blend-mode: difference;
}

/* Active link */
.active-link {
  color: var(--first-color);
}


/*=============== INTRO ===============*/
.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 178px;
}

.intro__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__subtitle {
  font-weight: 700;
  font-size: 112px;
  color: var(--title-color);
  line-height: 168px;
}

.intro__title {
  color: #FE6783;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 136px;
}

.intro__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__wrap-subtitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: var(--title-color);
  max-width: 694px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.intro__wrap-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 26px;
  margin-bottom: 22px;
}

.intro__wrap-buttons a {
  padding: 23px 74px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.intro__description {
  display: flex;
  align-items: center;
  column-gap: 9px;
  font-size: 25px;
  line-height: 38px;
  color: var(--text-color);
}

.intro__description span {
  color: var(--title-color);
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}

/*=============== CREATORS ===============*/
.creators__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 188px;
  margin-bottom: 162px;
}

.creators__subtitle {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: var(--title-color);
  margin-bottom: 69px;
  text-align: center;
}

.creators__wrap {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 60px;
}

.creators__wrap-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.creators__wrap-title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: var(--title-color);
}

.creators__wrap-description {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  width: max-content;
  color: var(--text-color);
}



/*=============== PROGRAM ===============*/


/*=============== CHOOSE ===============*/


/*=============== PRICING ===============*/


/*=============== CALCULATE ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
@media (max-width: 1399px) {
  .intro__subtitle {
    font-size: 80px;
    text-align: center;
  }

  .intro__title {
    font-size: 80px;
    text-align: center;
  }

  .creators__wrap {
    grid-template-columns: repeat(3, max-content);
    column-gap: 10px;
  }

  .creators__wrap-box {
    width: 375px;
  }

  .creators__wrap-description {
    width: 100%;
  }
}


@media (max-width: 1199px) {
  .sign_login {
    margin-left: 0;
  }

  .intro__subtitle {
    font-size: 65px;
  }

  .intro__title {
    font-size: 65px;
  }

  .creators__wrap {
    grid-template-columns: repeat(3, max-content);
    column-gap: 10px;
  }

  .creators__wrap-title {
    font-size: 25px;
  }

  .creators__wrap-box {
    width: 325px;
  }

  .creators__subtitle {
    font-size: 65px;
  }
}

@media (min-width: 992px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    padding-top: 0;
    flex-direction: row;
    column-gap: 38px;
  }

  .nav__link {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: initial;
  }

  .scroll-header .nav__link {
    color: var(--text-color);
  }

  .scroll-header .active-link {
    color: var(--title-color);
  }

  .scroll-header .active-link::after {
    background-color: var(--title-color);
  }
}

@media (max-width: 991px) {
  .creators__wrap {
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
  }

  .creators__wrap-title {
    font-size: 25px;
  }

  .creators__wrap-box {
    width: 350px;
  }

  .creators__subtitle {
    font-size: 45px;
  }

  .creators__wrap-description {
    width: 100%;
  }
}

@media (max-width:767px) {
  .nav__logo {
    font-size: 25px;
  }

  .nav__logo-img {
    width: 35px;
  }

  .intro__container {
    margin-top: 108px;
  }

  .intro__subtitle {
    font-size: 45px;
    text-align: center;
  }

  .intro__title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 90px;
  }

  .intro__wrap-subtitle {
    font-size: 30px;
  }

  .intro__wrap-buttons a {
    padding: 15px 66px;
  }

  .creators__container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .creators__subtitle {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .creators__wrap {
    grid-template-columns: repeat(1, max-content);
    row-gap: 30px;
  }

  .creators__wrap-box {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .intro__wrap-buttons a {
    padding: 9px 30px;
    font-size: 16px;
  }

  .intro__description {
    font-size: 16px;
  }

  .intro__subtitle,
  .intro__title {
    font-size: 30px;
    line-height: 40px;
  }

  .intro__title {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .intro__wrap-subtitle {
    font-size: 25px;
    line-height: 40px;   
  }

  .intro__description span {
    font-size: 16px;
  }

  .creators__subtitle {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .creators__wrap-title {
    font-size: 20px;
  }

  .creators__wrap-description {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .intro__wrap-buttons {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  .intro__wrap-buttons a {
    width: 100%;
    text-align: center;
  }

  .creators__container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 350px) {
  .intro__description {
    font-size: 13px;
    column-gap: 5px;
  }

  .intro__description img {
    width: 20px;
  }

  .intro__description span {
    font-size: 14px;
  }

  .creators__wrap-box {
    width: 300px;
}
}