/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #326CF9;
  --title-color: #FFFFFF;
  --text-color: #707070;
  --body-color: #000000;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;

  /*========== Font weight ==========*/
  --font--regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

input {
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-weight: var(--font--regular);
}

body {
  background: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .4s;
}

ul {
  margin-bottom: 0;
}

.container {
  --bs-gutter-x: 0;
}


img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: var(--first-color);
  color: var(--title-color);
  border-radius: 7px;
  transition: background .4s;
  margin-left: 2px;
}

.button:hover {
  background-color: transparent;
  color: var(--title-color);
  box-shadow: var(--first-color) 0px 1px 4px, var(--first-color) 0px 0px 0px 3px;
}

.demo__btn {
  color: var(--text-color);
  border-radius: 7px;
  background-color: transparent;
  box-shadow: var(--text-color) 0px 1px 4px, var(--text-color) 0px 0px 0px 3px;
}

.demo__btn:hover {
  color: var(--title-color);
  background-color: var(--first-color);
  box-shadow: none;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 800;
  color: var(--title-color);
  font-size: 37px;
  line-height: 56px;
}

.nav__logo-img {
  width: 45px;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: .4s;
  }
}


.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
  padding-top: 9rem;
  align-items: center;
  padding-left: 0;
}

.nav__link {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 16px;
  transition: .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.sign_login {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-left: 200px;
}

.sign_login .nav__link:nth-last-child(1) {
  padding: 12px 20px;
  color: var(--title-color);
}

.drop__span {
  color: var(--text-color);
  font-size: 16px;
  transition: .4s;
}

.drop__span:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

.scroll-header .nav__logo-img {
  mix-blend-mode: difference;
}

/* Active link */
.active-link {
  color: var(--first-color);
}


/*=============== INTRO ===============*/
.intro__container {
  margin-top: 178px;
}

.intro__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__subtitle {
  font-weight: 700;
  font-size: 112px;
  color: var(--title-color);
  line-height: 168px;
}

.intro__title {
  color: #FE6783;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 136px;
}

.intro__wrap-subtitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: var(--title-color);
  max-width: 694px;
  margin-bottom: 50px;
}

.intro__wrap-buttons {
  column-gap: 26px;
  margin-bottom: 22px;
}

.intro__wrap-buttons a {
  padding: 23px 74px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.intro__description {
  column-gap: 9px;
  font-size: 25px;
  line-height: 38px;
  color: var(--text-color);
}

.intro__description span {
  color: var(--title-color);
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}

/*=============== CREATORS ===============*/
.creators__container {
  margin-top: 188px;
  margin-bottom: 162px;
}

.creators__subtitle {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: var(--title-color);
  margin-bottom: 69px;
}

.creators__wrap {
  grid-template-columns: repeat(3, max-content);
  column-gap: 60px;
}

.creators__wrap-box {
  row-gap: 10px;
}

.creators__wrap-title {
  column-gap: 8px;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: var(--title-color);
}

.creators__wrap-description {
  font-size: 22px;
  line-height: 33px;
  width: max-content;
  color: var(--text-color);
}

/*=============== STEP ===============*/
.step__container {
  padding-bottom: 180px;
}

.step__subtitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: var(--first-color);
}

.step__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: var(--title-color);
}

.step__description {
  font-size: 30px;
  line-height: 45px;
  color: var(--text-color);
  max-width: 929px;
  margin-bottom: 34.5px;
}

.step__container .demo__btn {
  padding: 23px 37px;
}

/*=============== SPOT ===============*/
.spot__container {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 71px;
}

.spot__left-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: var(--title-color);
  margin-bottom: 80px;
}

.spot__left-subtitle {
  font-weight: 600;
  font-size: 75px;
  width: 100%;
  line-height: 112px;
  color: var(--title-color);
}

.spot__left-text {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: var(--title-color);
  width: 100%;
  margin-bottom: 27px;
  column-gap: 16px;
}

.spot__left-text span {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: var(--first-color);
}

.spot__left-description {
  font-size: 23px;
  line-height: 34px;
  color: var(--title-color);
  width: max-content;
  column-gap: 12px;
}

.spot__left-description:nth-last-child(2) {
  margin-top: 13px;
}

.spot__left-buttons {
  column-gap: 24.5px;
  margin-top: 66px;
}

.spot__left-buttons .button {
  padding: 17px 21px;
  font-size: 20px;
  line-height: 30px;
  color: var(--title-color);
}

.spot__left-buttons .demo__btn {
  padding: 17px 36px;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.spot__left-buttons .demo__btn:hover {
  color: var(--title-color);
}

/*=============== STEP TWO ===============*/
.step__two-container {
  padding-bottom: 180px;
}

.step__two-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: var(--first-color);
}

.step__two-subtitle {
  font-weight: 500;
  font-size: 75px;
  line-height: 112px;
  color: var(--title-color);
}

.step__two-data {
  margin-bottom: 175px;
  margin-top: 71px;
}

.step__two-description {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: var(--text-color);
  text-align: center;
  max-width: 886px;
}

.step__two-wrap {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.step__two-box {
  padding-top: 35px;
  padding-left: 45px;
  background: #0D0D0D;
}

.step__two-link {
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 24px;
  color: #0FC65C;
}

.step__two-box:nth-last-child(1) .step__two-link {
  margin-bottom: 96px;
}

.step__two-link:hover {
  color: #0FC65C;
}

.step__two-text {
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;
  color: var(--text-color);
}

.step__two-txt {
  color: var(--title-color);
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;
}

.step__two-img {
  margin-top: 14px;
  width: 788px;
}

.step__two-img img {
  transform: translateX(120px);
}

.step__two-box:nth-last-child(1) {
  z-index: 1;
}

.step__two-box:nth-last-child(1) .step__two-text {
  font-weight: 700;
  font-size: 80px;
  line-height: 93px;
  color: var(--text-color);
}

.step__two-box:nth-last-child(1) .step__two-txt {
  font-weight: 700;
  font-size: 80px;
  line-height: 93px;
  color: var(--title-color);
}

.step__two-button {
  margin-top: 49px;
}

.step__two-button .button {
  padding: 22px 81px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--title-color);
}



/*=============== CALCULATE ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 12px;
  border-radius: 7px;
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: var(--first-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color);
}

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/