/*=============== BREAKPOINTS for home page ===============*/
@media (max-width: 1399px) {
    .intro__subtitle {
        font-size: 80px;
        text-align: center;
    }

    .intro__title {
        font-size: 80px;
        text-align: center;
    }

    .creators__wrap {
        grid-template-columns: repeat(3, max-content);
        column-gap: 10px;
    }

    .creators__wrap-box {
        width: 375px;
    }

    .creators__wrap-description {
        width: 100%;
    }

    .step__two-box {
        padding-top: 35px;
        padding-left: 30px;
        background: #0D0D0D;
    }

    .step__two-box:nth-last-child(1) .step__two-txt,
    .step__two-box:nth-last-child(1) .step__two-text {
        font-size: 50px;
    }

    .step__two-subtitle {
        font-size: 60px;
        line-height: 100px;
    }
}


@media (max-width: 1199px) {
    .sign_login {
        margin-left: 0;
    }

    .intro__subtitle {
        font-size: 65px;
    }

    .intro__title {
        font-size: 65px;
    }

    .creators__wrap {
        grid-template-columns: repeat(3, max-content);
        column-gap: 10px;
    }

    .creators__wrap-title {
        font-size: 25px;
    }

    .creators__wrap-box {
        width: 325px;
    }

    .creators__subtitle {
        font-size: 65px;
    }

    .spot__left-description {
        font-size: 20px;
    }

    .spot__left-subtitle,
    .spot__left-text,
    .spot__left-text span {
        font-size: 50px;
        line-height: 70px;
    }

    .step__two-img {
        width: 600px;
    }

    .step__two-img img {
        transform: translateX(90px);
    }

    .step__two-box:nth-last-child(1) .step__two-txt,
    .step__two-box:nth-last-child(1) .step__two-text,
    .step__two-text,
    .step__two-txt {
        line-height: 77px;
    }
}

@media (min-width: 992px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        padding-top: 0;
        flex-direction: row;
        column-gap: 38px;
    }

    .nav__link {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: initial;
    }

    .scroll-header .nav__link {
        color: var(--text-color);
    }

    .scroll-header .nav__link:hover {
        color: var(--first-color);
    }

    .scroll-header .button:hover {
        color: var(--title-color);
    }

    .scroll-header .active-link {
        color: var(--first-color);
    }

    .scroll-header .active-link::after {
        background-color: var(--title-color);
    }
}

@media (max-width: 991px) {
    .creators__wrap {
        grid-template-columns: repeat(2, max-content);
        gap: 20px;
    }

    .creators__wrap-title {
        font-size: 25px;
    }

    .creators__wrap-box {
        width: 350px;
    }

    .creators__subtitle {
        font-size: 45px;
    }

    .creators__wrap-description {
        width: 100%;
    }

    .step__title {
        font-size: 65px;
        line-height: 80px;
    }

    .spot__container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        row-gap: 30px;
    }

    .spot__left {
        align-items: center;
        /* order: 1; */
    }

    .spot__left-title {
        margin-bottom: 30px;
    }

    .spot__left-subtitle,
    .spot__left-text,
    .spot__left-text span {
        text-align: center;
        justify-content: center;
    }

    .step__two-wrap {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .step__two-img img {
        transform: translateX(0);
    }

    .step__two-img {
        width: 100%;
    }
    .step__two-subtitle {
        font-size: 45px;
        line-height: 70px;
    }
}

@media (max-width:767px) {
    .nav__logo {
        font-size: 25px;
    }

    .nav__logo-img {
        width: 35px;
    }

    .intro__container {
        margin-top: 108px;
    }

    .intro__subtitle {
        font-size: 45px;
        text-align: center;
    }

    .intro__title {
        font-size: 45px;
        text-align: center;
        margin-bottom: 90px;
    }

    .intro__wrap-subtitle {
        font-size: 30px;
    }

    .intro__wrap-buttons a {
        padding: 15px 66px;
    }

    .creators__container {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .creators__subtitle {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .creators__wrap {
        grid-template-columns: repeat(1, max-content);
        row-gap: 30px;
    }

    .creators__wrap-box {
        width: 100%;
    }

    .step__description {
        font-size: 25px;
    }

    .spot__left-description {
        width: 100%;
        font-size: 17px;
    }
    .step__two-box:nth-last-child(1) .step__two-link {
        margin-bottom: 70px;
    }

    .step__two-box:nth-last-child(1) .step__two-txt,
    .step__two-box:nth-last-child(1) .step__two-text,
    .step__two-text,
    .step__two-txt {
        line-height: 65px;
        font-size: 40px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .intro__wrap-buttons a {
        padding: 9px 30px;
        font-size: 16px;
    }

    .intro__description {
        font-size: 16px;
    }

    .intro__subtitle,
    .intro__title {
        font-size: 30px;
        line-height: 40px;
    }

    .intro__title {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .intro__wrap-subtitle {
        font-size: 25px;
        line-height: 40px;
    }

    .intro__description span {
        font-size: 16px;
    }

    .creators__subtitle {
        font-size: 25px;
        margin-bottom: 30px;
        line-height: 30px;
    }

    .creators__wrap-title {
        font-size: 20px;
    }

    .creators__wrap-description {
        font-size: 16px;
    }

    .step__subtitle {
        font-size: 20px;
    }

    .step__description {
        font-size: 18px;
        line-height: 30px;
    }

    .step__title {
        font-size: 25px;
    }

    .step__container .demo__btn {
        padding: 15px 30px;
    }

    .spot__left-description {
        font-size: 16px;
    }

    .spot__left-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 20px;
    }

    .spot__left-subtitle,
    .spot__left-text,
    .spot__left-text span {
        font-size: 30px;
        line-height: 40px;
    }

    .spot__left-title {
        font-size: 25px;
    }

    .spot__left-buttons .button,
    .spot__left-buttons .demo__btn {
        font-size: 16px;
    }

    .spot__right {
        display: none;
    }

    .step__two-subtitle {
        font-size: 35px;
        line-height: 50px;
    }

    .step__two-title {
        font-size: 20px;
        line-height: 30px;
    }
    .step__two-description {
        font-size: 23px;
        line-height: 35px;
    }
    .step__two-link {
        font-size: 25px;
        line-height: 35px;
    }
    .step__two-button .button {
        font-size: 18px;
        line-height: 0;
    }
}

@media (max-width: 430px) {
    .intro__wrap-buttons {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }

    .intro__wrap-buttons a {
        width: 100%;
        text-align: center;
    }

    .creators__container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .step__container .demo__btn {
        width: 100%;
        text-align: center;
    }

    .spot__left-buttons .button,
    .spot__left-buttons .demo__btn {
        width: 100%;
        text-align: center;
    }

    .step__two-button .button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .intro__description {
        font-size: 13px;
        column-gap: 5px;
    }

    .intro__description img {
        width: 20px;
    }

    .intro__description span {
        font-size: 14px;
    }

    .creators__wrap-box {
        width: 300px;
    }

    .step__title {
        font-size: 22px;
    }
}